extend base.pug
block content
     script(src="/scripts/infobook.js")
     style 
         include styles/infobook.css
     div(id="bookup")
        div(id="bookcover")
            img(src='/img/'+ bookdata.zdjecie_adres class="bookimg")
        div(id="bookinfo")
            div(id="info")
                table
                    tr
                        td Autor: 
                        td=bookdata.autor
                    tr
                        td Tytuł: 
                        td=bookdata.tytuł
                    tr
                        td Gatunki: 
                        each val in genres 
                            td=val.nazwa
                    tr
                        td Wydanie: 
                        td=bookdata.wydanie
                    tr
                        td Data Wydania: 
                        td=bookdata.data_wydania
                    tr
                        td Wydawnictwo
                        td=wydawnictwo
                    tr
                        td Miejsce Wydania: 
                        td=bookdata.miejsce_wydania
                    tr
                        td ilość stron: 
                        td=bookdata.ilość_stron
                    tr
                        td Strony nienumerowane: 
                        td=bookdata.strony_nienumerowane
                    tr
                        td Wymiary: 
                        td=bookdata.Wymiary
                    tr
                        td ISBN: 
                        td=bookdata.ISBN
                    if iflibrarian
                        td
                            a(href="http://localhost:8080/edit/?id=" + bookdata.idKsiążka) edytuj
                    
            div(id="buttons")
                div(class="bookbutt") opis
        div(id="copies")
            table
                tr(class="copiesrows") 
                    td numer egzemplarza  
                    td dostępność
                each copy in copies
                    tr(class="copiesrows")
                        td(class="copyname")=copy.idEgzemplarz
                        td
                            if copy.dostępność ==1
                                img.availability(src="/img/ok.png" name="ok" id=copy.idEgzemplarz)
                            else
                                img.availability(src="/img/notok.png" name="notok" id=copy.idEgzemplarz)
                        //- td(class="availability")=(copy.dostępność==1?img(class="bookimg" src="/img/czas_zniw.jpg") :'niedostępne')
     div(id="bookdown")
        p=bookdata.opis